body {
	margin: 0;
}

.page-frame{
	padding-left:16.6%;
	padding-right:16.6%;		
}
	
#separator {
	color: #dadada;
	margin-top: 20px;
}

#social-media {
	padding-top: 8px;
}

#social-media img {
	cursor: pointer;\
}

#header {
	margin-top: 20px;
}

#menu {
	margin:20px 0 20px 0;
}

.button {
	font-family: "Novecento";
	font-weight: normal;
	text-decoration: none;
	font-size: 18px;
	color: rgb(115, 115, 115);
	line-height: 1;
	margin-right: 10px;
}

#title-bar{
	background: #2ecc71;
	width: 100%;
	height: 100px;
	display: table
}

#about-text{
	font-size: 24px;
	font-family: "Novecento";
	font-weight: normal;
	color: rgb(255, 255, 255);
	line-height: 0.6;
	display: table-cell;
	vertical-align: middle;
}

#content {
	margin-top:10px
}

#content th, 
#content li {
	font-family: "Novecento";
	font-weight: normal;	
	color: #8a8888;
}

p, ul { 
	font-family: "Helvetica";
	color: #8a8888;
}

td, p, ul {
	line-height: 1.5;
}


#content td {
	font-family: "Helvetica";
	color: #8a8888;
	padding-top:20px;
}

.services {
	font-family: "Novecento";
	font-weight: normal;
	color: #8a8888;
}

ul {
	list-style-image: url('images/bullet.svg');
}

#black-box {
	background-color: #322f2f ;
	width: 100%;
	height: 100px;
	display:table;
}

.footer {
	background-color: #efefef ;
	width: 100%;
	height: 50px;
	display:table;
}

.footer-menu {
	margin: 0 16.6% 0 0;
	float: right;
}

.footer-menu a {
	font-family: "Novecento";
	font-weight: normal;
	color: #8a8888;
	font-size: 12px;
}

.center {
	display: table-cell; 
	vertical-align:middle;
}

.find-out {
	color: #fefefe;
	background-color: #2ecc71;
	border:none; float: right;
	margin-right: 16.6%;
	font-family: "Novecento";
	font-weight: normal;
	padding: 10px 25px;
}

.copyright {
	float: left;
	margin: 0 0 0 16.6%;
	padding: 5px 0px;
	font-family: "Novecento";
	font-weight: normal;
	color: #8a8888;
	font-size: 12px;
}

.are-you-ready {
	float: left;
	color: white;
	margin: 2px 0 0 16.6%;
	padding: 5px 0px;
	font-family: "Novecento";
	font-weight: normal;
	text-decoration: none;
	font-size: 18px;
	line-height: 1;
}

.box {
	background-color: #efefef ;
	width: 100%;
	height: 200px;
}

#titles {
	font-size: 20px;
}

#z` table, 
#contact-form th, 
#contact-form td {
	  vertical-align: top;
	  border-collapse: collapse;
	}

#contact-form h1 {
	font-size: 20pt
	color: #8a8888;
    font-family: 'Novecento';
    font-weight: normal;
    vertical-align: top;
}

	
#contact-form th, 
#contact-form td {
	  padding: 20px;
	  text-align: left;    
	  }
#contact-form p, 
/* #contact-form h1,  */
#contact-form td {
	font-size: 10pt;
	color: #8a8888;
	font-family: 'Novecento';
	font-weight: normal;
	vertical-align: top;
	}
#contact-form input, 
#contact-form textarea {
	margin-bottom:10px;
	width: 70%;
	line-height: 1.8;
	}

#contact-form input[type="submit"]{
	width: 120px; 
	background-color: #2ecc71; 
	color: white;
	font-family: 'Novecento';
	font-weight: normal;
}

#contact-form	p {
	font-family: "Helvetica";
	font-size: 12px;
	font-weight: normal;
	color: #8a8888;
}

#contact-form	th {
	font-family: "Novecento";
	font-weight: normal;
	font-size: 12px;
	color: #8a8888;
}

.tab {
    overflow: hidden;
    border: transparent;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: transparent;
		margin-right: 16.6%;
		margin-left: 16.6%;
		padding-top: 15px;
		padding-bottom: 25px;
}


.tablinks{
	width: 25%;
	height: 200px
}

.column {
    float: left;
    width: 50%;

}

.hours:after {
    display: table;
    clear: both;